
body {
    background: linear-gradient(to right, #4300d4, #ac65f7, #e39cfb);
    background-size: cover;
    background-attachment: fixed;
}
.custom-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 400px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.custom-form h2 {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.custom-form .form-group {
    margin-bottom: 30px;
}

.custom-form label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.custom-form input[type="text"],
.custom-form input[type="email"],
.custom-form input[type="password"] {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    font-size: 16px;
    color: #333;
    background-color: #f3f3f3;
}

.custom-form input[type="text"]:focus,
.custom-form input[type="email"]:focus,
.custom-form input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 5px #5500ff;
}

.custom-form .password-input {
    position: relative;
}

.custom-form .password-input i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.custom-form .password-input i:hover {
    color: #1100ff;
}

.custom-form .form-text {
    font-size: 14px;
    color: #777;
    text-align: left;
    margin-bottom: 10px;
}

.custom-form .btn-primary {
    width: 100%;
    margin-top: 30px;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #65C7F7;
    color: #fff;
    border: none;
    transition: all 0.3s ease-in-out;
}

.custom-form .btn-primary:hover {
    background-color: #0052D4;
    cursor: pointer;
}

.custom-form .btn-primary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.custom-form .fas.fa-spinner {
    margin-right: 5px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
    transform: rotate(360deg);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
}
